body {
  background: #6CA6C1;
}

.app {
  display: flex;
}

aside.primary-aside {
  width: 200px;
}

aside.primary-aside a.active {
    font-weight: bold;
}

main {
  flex: 1;
}

.mainBox{
  width: 990px;
  height: auto;
  /*border: 2px solid black;*/
  margin: auto;
}

.card{
  width: 280px;
  height: 665px;
  /*border: 2px solid black;*/
  margin: auto;
  margin: 15px;
  float: left;
  padding: 5px;
  background: #F7FFF7;
  border: 4px outset #2F3061;
}

.img1{
  margin-left: 45px;
  margin-top: 10px;
  border: 4px outset #2F3061;
}

p {
  color: #343434;
  text-align: justify;

}

h3 {
  color: #2F3061;
  font: verdana;
  text-align: center;
}

.cardForText {
  width: 260px;
  height: auto;
  margin: auto;
}

.cardForTextSmall1 {
  width: 175px;
  height: auto;
  float: left;
}

.cardForTextSmall2 {
  width: 80px;
  height: auto;
  float: right;
}

span.red {
  color: red;
}
.left {
  text-align: right;
}
